@use '../../styles/variables.scss' as *;

.coffee-item {
    padding: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    min-height: 260px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.25);
    font-family: $font-title;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    &__price {
        align-self: flex-end;
        margin-left: auto;
        font-weight: 700;
    }
    img {
        width: 150px;
        display: block;
        margin: 0 auto 14px;
    }

    &_best {
        border-radius: 8px;
        min-height: 240px;
        background: rgba(255, 255, 255, 0.65);
    }
}